/* colors: grey - #1B2F33 blue - ##94c6cd salmon - #D25B41 pink - #E89f8B light pink - #F9E0D9 */

body {
  background-color: #f8edea;
}

header {
  width: 100;
  height: 170px;
  padding: 0px 20px;
  background-color: #d25b41;
  display: flex;
  border: #f9e0d9 5px solid;
}

#logo {
  width: 130px;
  height: 130px;
  border: 2px solid white;
  margin: 20px 0px;
}

#header-heading {
  width: 45%;
  padding: 10px;
  margin-left: 10px;
}

h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 20px 30px;
  margin: 10px 0px 0px 0px;
  font-size: 42px;
  justify-content: left;
  display: block;
  text-shadow: 2px 2px #d25b41;
  background-color: #94c6cd;
  border: 3px solid #506567;
  box-shadow: 2px 2px #888888;
  max-width: fit-content;
  max-height: fit-content;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px 15px 10px 10px;
  margin: 10px 10px 20px 10px;
  font-size: 40px;
  justify-content: left;
  display: block;
  height: 40px;
  text-shadow: 2px 2px #1b2f33;
  background-color: #94c6cd;
  max-width: fit-content;
  border: 3px solid #506567;
  box-shadow: 2px 2px #888888;
}

.title2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px 15px 10px 10px;
  margin: 10px 10px 20px 10px;
  font-size: 40px;
  justify-content: left;
  display: block;
  height: 40px;
  text-shadow: 2px 2px #1b2f33;
  background-color: #e89f8b;
  max-width: fit-content;
  border: 3px solid #d25b41;
  box-shadow: 2px 2px #ffffff;
}

.subheading {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px 15px 10px 10px;
  margin: 30px;
  font-size: 20px;
  justify-content: center;
  display: block;
  height: 20px;
  text-shadow: 1px 1px #1b2f33;
  background-color: #e89f8b;
  max-width: fit-content;
  border: 3px solid #d25b41;
  box-shadow: 2px 2px #f9e0d9;
}

header h3 {
  color: #ffffff;
  font-family: arial;
  padding: 10px;
  margin: 10px 0px;
  font-size: 22px;
  display: block;
  height: 40px;
}

nav {
  color: #f9e0d9;
  font-family: arial;
  margin: 10px 50px 10px 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 45%;
  justify-content: space-between;
}

button {
  justify-content: center;
  cursor: pointer;
}

nav button {
  padding: 10px;
  max-width: fit-content;
  max-height: fit-content;
  margin: 5px;
  border: 2px solid white;
  font-size: larger;
  background-color: #e89f8b;
  color: white;
}

nav button:hover {
  background-color: #94c6cd;
}

main {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

#story {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.textbox1 {
  border: #d25b41 solid 10px;
  width: 55%;
  height: auto;
  flex-wrap: wrap;
  margin: 15px;
  padding: 10px;
  background-color: #e89f8b;
}

.textbox1 p {
  font-family: arial;
  font-size: 19px;
  display: flex;
  align-items: center;
  background-color: #f9e0d9;
  padding: 10px;
  margin: 5px;
  text-indent: 25px;
  letter-spacing: 1px;
  color: #1b2f33;
}

#pat {
  border: 10px solid #506567;
  box-shadow: 10px 10px #888888;
  width: 35%;
  margin: 15px;
}

#loc-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: #1b2f33 solid 10px;
  width: 94%;
  height: 500px;
  margin: 15px;
  padding: 20px 10px 10px 10px;
  background-color: #94c6cd;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.location {
  height: 475px;
  width: 870px;
  background-color: whitesmoke;
  box-shadow: 5px 5px #888888;
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
  padding: 1px 2px;
}

.shop-pic {
  margin: 20px;
  width: 430px;
  align-items: center;
  flex-direction: row;
}
.location-title {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  font-size: 40px;
  justify-content: left;
  display: block;
  height: 40px;
  width: 300px;
}

.location-text {
  font-family: arial;
  font-size: 15px;
  background-color: #f9e0d9;
  padding: 10px;
  height: 415px;
  width: 350px;
  letter-spacing: 1px;
  flex-direction: column;
  justify-content: center;
  margin: 20px 10px;
  display: flex;
}

.opening-times {
  color: #283030;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px 10px 30px 10px;
  font-size: 20px;
  height: 40px;
}

.address {
  font-family: arial;
  font-size: 19px;
  display: flex;
  align-items: flex-start;
  background-color: #f9e0d9;
  margin: 5px;
  text-indent: 15px;
  letter-spacing: 1px;
  color: #1b2f33;
  flex-direction: column;
  text-align: left;
}

#about {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

#about-pics {
  width: 100%;
  flex-basis: 450px;
  justify-content: center;
}

.about-image {
  border: 5px solid #506567;
  box-shadow: 5px 5px #888888;
  flex-direction: column;
  width: 350px;
  height: auto;
  margin: 10px;
}

.textbox2 {
  border: #185f79 solid 10px;
  width: 50%;
  height: fit-content;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 20px;
  background-color: #1b2f33;
}

.textbox2 p {
  font-family: arial;
  font-size: 20px;
  background-color: #94c6cd;
  color: #ffffff;
  width: 90%;
  margin: 5px;
  padding: 20px;
  letter-spacing: 1px;
}

ol {
  font-family: arial;
  font-size: 20px;
  background-color: #94c6cd;
  color: #ffffff;
  width: 90%;
  margin: 5px;
  padding: 20px;
  letter-spacing: 1px;
  list-style-type: square;
  text-align: justify;
}

.ethos {
  list-style-position: inside;
  padding: 5px 10px 5px 20px;
  margin: 10px 0px;
}

/*  only table below this point */

#salesMain {
  display: flex;
}

#salesTable {
  border: #1b2f33 solid 2px;
}

#salesTitle {
  margin: 30px;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
  font-family: monospace;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: aliceblue;
}

.pagebreak {
  width: 100%;
  height: 40px;
}

#formSection {
  margin: 0 auto;
  display: block;
}

form {
  display: flex;
  justify-content: center;
}

#form-title {
  margin: 0 auto;
  align-items: center;
}

fieldset {
  font-family: arial;
  font-size: 20px;
  margin: 30px;
  padding-top: 20px;
  background-color: #f9e0d9;
  padding: 10px;
  text-indent: 10px;
  letter-spacing: 1px;
  color: #1b2f33;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin: 10px;
}

fieldset button {
  padding: 5px 10px;
  max-width: fit-content;
  margin: 0 auto;
}
