/* colors: grey - #1B2F33 blue - ##94c6cd salmon - #D25B41 pink - #E89f8B light pink - #F9E0D9 */

body {
  background-color: #f8edea;
}

header {
  width: 100;
  height: auto;
  background-color: #d25b41;
  display: flex;
  border: #f9e0d9 5px solid;
}

#logo {
  width: 130px;
  height: 130px;
  border: 2px solid white;
  margin: 20px;
}

#header-heading {
  width: 40%;
  padding: 10px;
  margin-left: 40px;
}

h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  font-size: 34px;
  justify-content: left;
  display: block;
  height: 36px;
  text-shadow: 2px 2px #d25b41;
  background-color: #94c6cd;
  border: 3px solid #506567;
  box-shadow: 2px 2px #888888;
  width: 75%;
}

.title {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px 15px 10px 10px;
  margin: 10px 10px 20px 10px;
  font-size: 40px;
  justify-content: left;
  display: block;
  height: 40px;
  text-shadow: 2px 2px #1b2f33;
  background-color: #94c6cd;
  max-width: fit-content;
  border: 3px solid #506567;
  box-shadow: 2px 2px #888888;
}

header h3 {
  color: #f9e0d9;
  font-family: arial;
  padding: 10px;
  margin: 10px;
  font-size: 25px;
  display: block;
  height: 40px;
}

nav {
  color: #f9e0d9;
  font-family: arial;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

nav button {
  padding: 10px;
  height: 50px;
  margin: 20px;
  border: 2px solid white;
  font-size: larger;
  background-color: #e89f8b;
  color: white;
}

nav button:hover {
  background-color: #94c6cd;
}

main {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

#story {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.textbox1 {
  border: #d25b41 solid 10px;
  width: 55%;
  height: 474px;
  flex-wrap: wrap;
  margin: 15px;
  padding: 10px;
  background-color: #e89f8b;
}

.textbox1 p {
  font-family: arial;
  font-size: 19px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #f9e0d9;
  padding: 10px;
  margin: 5px;
  text-indent: 25px;
  letter-spacing: 1px;
  color: #1b2f33;
}

#pat {
  border: 10px solid #506567;
  box-shadow: 10px 10px #888888;
  width: 35%;
  margin: 15px;
}

.textbox2 {
  border: #1b2f33 solid 10px;
  width: 55%;
  height: 474px;
  flex-wrap: wrap;
  margin: 15px;
  padding: 10px;
  background-color: #94c6cd;
}

.textbox2 p {
  font-family: arial;
  font-size: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #f9e0d9;
  padding: 10px;
  margin: 5px;
  text-indent: 25px;
  letter-spacing: 1px;
  color: #1b2f33;
}

#loc-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: #1b2f33 solid 10px;
  width: 94%;
  height: 500px;
  margin: 15px;
  padding: 20px 10px 10px 10px;
  background-color: #94c6cd;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.location {
  height: 475px;
  width: 870px;
  background-color: whitesmoke;
  box-shadow: 5px 5px #888888;
  display: flex;
  flex-direction: row;
  margin: 0px 10px;
  padding: 1px 2px;
}

.shop-pic {
  margin: 20px;
  width: 430px;
  align-items: center;
  flex-direction: row;
}
.location-title {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  font-size: 40px;
  justify-content: left;
  display: block;
  height: 40px;
  width: 300px;
}

.location-text {
  font-family: arial;
  font-size: 15px;
  background-color: #f9e0d9;
  padding: 10px;
  height: 415px;
  width: 350px;
  letter-spacing: 1px;
  flex-direction: column;
  justify-content: center;
  margin: 20px 10px;
  display: flex;
}

.opening-times {
  color: #283030;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  height: 40px;
}

.address {
  text-indent: 30px;
}

/* h2 {
  font-family: monospace;
  text-align: center;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
  font-family: monospace;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: aliceblue;
} */
